{{define "hashrate_shares"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Monetarium Hashrate Shares"}}
    {{template "navbar" . }}

    <div data-controller="hashrate-shares" class="container main">
    </div>

{{ template "footer" . }}
</body>
</html>
{{end}}
