/* icons */
@font-face {
  font-family: "icomoon";
  src:
    url("/fonts/icomoon.ttf?g003m6") format("truetype"),
    url("/fonts/icomoon.woff?g003m6") format("woff"),
    url("/fonts/icomoon.svg?g003m6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="monicon-"],
[class*=" monicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon", monospace !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monicon-qrcode::before {
  content: "\e9f8";
}

.monicon-sun-fill::before {
  content: "\e900";
}

.monicon-sun-stroke::before {
  content: "\e902";
}

.monicon-download::before {
  content: "\e95e";
}

.monicon-block::before {
  content: "\e906";
}

.monicon-twoblocks::before {
  content: "\22f0";
}

.monicon-affirm::before {
  content: "\1f3fb";
}

.monicon-reject::before {
  content: "\1f3fc";
}

.monicon-missing::before {
  content: "\1f3fd";
}

.monicon-stack::before {
  content: "\e92e";
}

.monicon-ticket::before {
  content: "\e905";
}

.monicon-pickaxe::before {
  content: "\e903";
}

.monicon-supply::before {
  content: "\e904";
}

.monicon-coin-negative::before {
  content: "\e907";
}

.monicon-search::before {
  content: "\e908";
}

.monicon-arrow-up::before {
  content: "\e911";
}

.monicon-arrow-down::before {
  content: "\e910";
}

.monicon-arrow-right {
  transform: rotate(90deg);
}

.monicon-arrow-right::before {
  content: "\e911";
}

.monicon-arrow-left {
  transform: rotate(-90deg);
}

.monicon-arrow-left::before {
  content: "\e911";
}

.monicon-discussion::before {
  content: "\e912";
}

.monicon-back::before {
  content: "\e913";
}

.monicon-expand::before {
  content: "\e914";
}

.monicon-collapse::before {
  content: "\e915";
}

.monicon-copy::before {
  content: "\e92c";
}

.monicon-info::before {
  content: "\e916";
}

.exchange-logo {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/images/exchange-logos-25.svg") no-repeat;
}

.exchange-logo.bitcoin {
  background-position: 0 0;
}

.exchange-logo.coinbase {
  background-position: 0 -25px;
}

.exchange-logo.binance {
  background-position: 0 -75px;
}

.exchange-logo.aggregated {
  background-position: 0 -200px;
}

.exchange-logo.dcrdex {
  background-position: 0 -225px;
}

.exchange-logo.mexc {
  background: url("/images/mexc-logo.svg") no-repeat;
}
